<div class="dados_pessoais">
    <div>
        <h1 class="titulo">Objetivo</h1>
        <p>
            Atuar na área de programação, tanto no frontend quanto no backend, aprimorando o meu 
            conhecimento para me tornar um profissional cada vez melhor.
        </p>
    </div>
    <div>
        <h1 class="titulo">Experiências Profissionais</h1>
        <div>
            <h3>ELO JÚNIOR: dezembro/2021 - junho/2022</h3>
            <p>
                Comecei como colaborador no início de janeiro, saindo em julho. Na empresa eu pude
                conhecer mais sobre a vivência empresarial e a carreira de programação, o que foi 
                muito bom e consegui me desenvolver bastante. Além disso, também tive bastante contato 
                com projetos web e pude gerenciar um projeto de aplicativo por um período de tempo. Eu 
                ajudei a implementar o SCRUM no meu núcleo e fui o primeiro gerente a utilizar a 
                metodologia ágil na gerência de um projeto.
            </p>
        </div>
        <div>
            <h3>ACELERA ZG: janeiro/2022 - agosto/2022</h3>
            <p>
                O Acelera ZG foi uma aceleração da ZG Soluções em que participei e que teve início em janeiro
                desse ano. A maioria dos conhecimentos consolidados que possuo atualmente eu me desenvolvi
                no programa, que abrangia conhecimentos desde mais básicos, até mais complexos, como 
                Frameworks, Dev-Ops, Design Patterns, entre outros. Atualmente eu só me considero desenvolvedor
                pelos resultados que obtive na aceleração. Quase todos os projetos que fiz no programa estão 
                no meu github e podem ser identificados pela descrição.
            </p>
        </div>
        <div>
            <h3>ZG SOLUÇÕES: setembro/2022 - dezembro/2022</h3>
            <p>
                Estagiei na empresa, corrigindo bugs e aprendi bastante.
                A linguagem utilizada é o Groovy, com a utilização de vários frameworks, entre
                eles, o Spring, Grails e Spock. 
            </p>
        </div>
    </div>
    <div class="aprendizado">
        <h1 class="titulo">Noções de:</h1>
        <ul>
            <li>HTML e CSS</li>
            <li><b>JAVASCRIPT</b></li>
            <li><b>TYPESCRIPT</b></li>
            <li><b>JAVA</b></li>
            <li>POSTGREESQL</li>
            <li>MAVEN</li>
            <li>GRADLE</li>
            <li>API REST</li>
            <li>ARQUITETURA MVC</li> 
            <li><b>SPRING</b></li>
            <li><b>ANGULAR</b></li>
            <li><b>REACT</b></li>
            <li>SWAGGER</li>
            <li>METODOLOGIAS ÁGEIS</li>

        </ul>
        
    </div>
    <div>
        <h1 class="titulo">Hobbies</h1>
        <p>
            Eu jogo alguns jogos, como: League of Legends, Valorant, ou algum outro sozinho ou com amigos. Além disso, 
            também gosto de cozinhar e sempre invento alguma coisa.
        </p>
    </div>
    <div>
        <h1 class="titulo">Projetos</h1>
        <a id="link-projeto" href="https://hideki-financas.up.railway.app/login" target="_blank"><b>Controle de Finanças</b></a>
        <p>
            Foi um projeto de um curso da Udemy, com o framework <b>Spring</b> e a biblioteca do <b>React</b>. Ainda há melhorias a serem feitas e bugs a serem 
            corrigidos. <b>O Railway possui um limite de uso por mês, então não é sempre que o projeto vai estar no ar.</b>
        </p>
    </div>
</div>