<div class="dados_pessoais">
    <div>
        <h1 class="titulo">Objetivo</h1>
        <p>
            Atuar na área de programação, tanto no frontend quanto no backend, aprimorando o meu 
            conhecimento para me tornar um profissional cada vez melhor.
        </p>
    </div>
    <div>
        <h1 class="titulo">Experiências Profissionais</h1>
        <div>
            <h3>ELO JÚNIOR: 2022</h3>
            <p>
                Comecei como colaborador no início de janeiro, saindo em julho. Na empresa eu pude
                conhecer mais sobre a vivência empresarial e a carreira de programação, o que foi 
                muito bom e consegui me desenvolver bastante. Além disso, também tive bastante contato 
                com projetos web e pude gerenciar um projeto de aplicativo por um período de tempo. Eu 
                ajudei a implementar o SCRUM no meu núcleo e fui o primeiro gerente a utilizar a 
                metodologia ágil na gerência de um projeto.
            </p>
        </div>
        <div>
            <h3>ACELERA ZG: 2022</h3>
            <p>
                O Acelera ZG foi uma aceleração da ZG Soluções em que participei e que teve início em janeiro
                desse ano. A maioria dos conhecimentos consolidados que possuo atualmente eu me desenvolvi
                no programa, que abrangia conhecimentos desde mais básicos, até mais complexos, como 
                Frameworks, Dev-Ops, Design Patterns, entre outros. Atualmente eu só me considero desenvolvedor
                pelos resultados que obtive na aceleração. Quase todos os projetos que fiz no programa estão 
                no meu github e podem ser identificados pela descrição.
            </p>
        </div>
    </div>
    <div class="aprendizado">
        <h1 class="titulo">Noções de:</h1>
        <ul>
            <li>HTML e CSS</li>
            <li>FIGMA</li>
            <li><b>JAVASCRIPT</b></li>
            <li><b>TYPESCRIPT</b></li>
            <li><b>JAVA/GROOVY</b></li>
            <li>POSTGREESQL</li>
            <li>GRADLE/MAVEN</li>
            <li>API REST</li>
            <li>ARQUITETURA MVC</li>
            <li>SOLID</li>
            <li><b>SPRING</b></li>
            <li><b>ANGULAR</b></li>
            <li>GRAILS</li>
            <li>MICRONAUT</li>
            <li>SWAGGER</li>
            <li>SPOCK</li>
            <li>KAFKA</li>
            <li>METODOLOGIAS ÁGEIS</li>

        </ul>
        
    </div>
    <div>
        <h1 class="titulo">Hobbies</h1>
        <p>
            Eu jogo alguns jogos, como: League of Legends, Valorant, ou algum outro sozinho ou com amigos. Além disso, 
            também gosto de cozinhar e sempre invento alguma coisa.
        </p>
        <div class="comidas">
            <img src="../../../assets/WhatsApp Image 2022-08-14 at 16.37.30.jpeg"/>
            
            <img src="../../../assets/WhatsApp Image 2022-08-14 at 16.39.04.jpeg"/>
           
            <img src="../../../assets/WhatsApp Image 2022-08-14 at 16.39.28.jpeg"/>
           
        </div>
    </div>
</div>