body{
    margin: none;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    color: rgb(49, 49, 49);
    transition: 0.5s;
}

.nome{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: fit-content;
}

.foto_de_perfil{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 3em;
    position: relative;
    top: 2em;
}

.icon {
    width: 50px;
    transition: 0.5s;
}

.icon:hover{
   transform: scale(1.1);
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.links_redes{
    padding: 10px;
}

#location{
    width: fit-content;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}


.descricao{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1em;
    text-align: justify;
    width: 50em;
}

#header{
    background-image: url(../assets/footer.jpg);
    background-size:100%;
}

footer{
    background-position: bottom;
    background-image: url(../assets/footer.jpg);
    background-size:100%;
    position: relative;
    color: white;
    bottom: 0px;
    margin-top: 10rem;
    background-color: rgb(25, 3, 61);
    height: 200px;
    padding-bottom: 2em;
  
}

@media  (max-width: 700px) {

    .descricao{
        text-align: justify;
        width: 80%;
    }

}
