<header id="header">
  <div>
      <div class="apresentacao" >
          <div class="foto_de_perfil">
          <img  src="../assets/Logo4.svg"
              alt="imagem de perfil"/>
          </div>  
          <div class="nome">
              <h1>Lucas Hideki Abe</h1>
          </div>
          <div class="links">
              <div class="links_redes">
                  <a href="https://www.instagram.com/hide.kii/" target="_blank">
                      <img class="icon" src="../assets/Instagram.svg" alt="instagram"/>

                  </a>
              </div>
              <div class="links_redes" id="github">
                  <a href="https://github.com/hideki-abe" target="_blank">
                      <img class="icon" src="../assets/Github.svg" alt="Github"/>
                  </a>
              </div>
              <div class="links_redes" >
                  <a href="https://www.linkedin.com/in/hideki-abe/" target="_blank">
                      <img class="icon" src="../assets/LinkedIn.svg" alt="LinkedIn"/>
                  </a>
              </div>
          </div>
          <div id="location">
            <img src="../assets/location.svg" alt="Location Icon"/> Goiânia - GO
          </div>
          <div class="descricao">
              <p>
                Sou aluno de engenharia de computação da UFG, de Goiânia-GO, e tenho bastante interesse em programação já faz algum tempo.
                Já participei de uma empresa júnior e tive vários aprendizados em relação à programação web
                e no funcionamento de uma empresa. Além disso, também já participei de um programa de 
                aceleração da ZG Soluções, que tinham vários projetos em que pude aprender bastante sobre o frontend, backend e muito mais.
              </p>
          </div>
      </div>
  </div>
</header>
<router-outlet>
</router-outlet>
<footer id="footer">
</footer>
